

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'regioheldentest',
        'USER': 'regioheld',
        'PASSWORD': '*******',
        'HOST': 'localhost',
        'PORT': '',
    }
}
